*{
	font-family: 'Source Code Pro', monospace;
}
::root	
}
body{
}
.container{
	display: grid;
	place-content: center;
	min-height: 100vh;
	text-align: center;
}
h1{
	font-size: 50px;
	width: max-content;
	position: relative;
	
}
h3{
	font-size: 20px;
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 2s ease 5s forwards;
}
h1::before,
h1::after{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	position: absolute;
}
h1::before{
	background-color: white;
	animation: typewriter 4s steps(24) 1s forwards;
}
h1::after{
	width: 0.115em;
	background-color: black;
	animation: typewriter 4s steps(24) 1s forwards, blink 750ms infinite;
}
@keyframes typewriter{
	to{
		left: 100%;
	}
}
@keyframes blink{
	to{
		background-color: transparent;
	}
}
@keyframes fadeInUp{
	to{
		opacity: 1;
		transform: translateY(0);
	}
}